<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Locadora</title>

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="~/Content/template/assets/images/logo_movie_rental.png">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/template/assets/images/logo_movie_rental.png">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/template/assets/images/logo_movie_rental.png">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/template/assets/images/logo_movie_rental.png">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="~/Content/template/assets/images/logo_movie_rental.png">

    <!-- Styles -->
    <link href="~/Content/template/assets/css/lib/weather-icons.css" rel="stylesheet" />
    <link href="~/Content/template/assets/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/template/assets/css/lib/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/Content/template/assets/css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/template/assets/css/lib/themify-icons.css" rel="stylesheet">
    <link href="~/Content/template/assets/css/lib/menubar/sidebar.css" rel="stylesheet">
    <link href="~/Content/template/assets/css/lib/bootstrap.min.css" rel="stylesheet">

    <link href="~/Content/template/assets/css/lib/helper.css" rel="stylesheet">
    <link href="~/Content/template/assets/css/style.css" rel="stylesheet">


</head>
<body class="sidebar-hide">


    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
        <div class="nano">
            <div class="nano-content">

                @if (ViewBag.user_layout == "usuario")
                {
                    <div class="logo"><!-- <img src="assets/images/logo.png" alt="" /> --><span><a href="/Cliente/ReturnCliente/@ViewBag.ID_Cliente">Locadora Soares</a></span></div>
                }
                @if (ViewBag.user_layout == "admin")
                {
                    <div class="logo"><!-- <img src="assets/images/logo.png" alt="" /> --><span><a href="/Admin/AdminMain/">Locadora Soares</a></span></div>
                }
                @if (ViewBag.session_status == "nao_logado")
                {
                    <div class="logo"><!-- <img src="assets/images/logo.png" alt="" /> --><span><a href="/Home/Index/">Locadora Soares</a></span></div>
                }


                <ul>

                    @{
                        if (ViewBag.user_layout == "usuario")
                        {
                            <li class="label">Cliente</li>
                            <li class="sidebar-sub-toggle">
                                <a class="sidebar-sub-toggle"><i class="ti-user"></i> @ViewBag.user <span class="sidebar-collapse-icon ti-angle-down"></span></a>

                                <ul>
                                    <li><a href="/Cliente/EditarPerfil/@ViewBag.ID_Cliente"><i class="ti-pencil"></i> <span>Editar Perfil</span></a></li>
                                    <li><a href="/Cliente/FilmesAlugados/@ViewBag.ID_Cliente"><i class="ti-video-camera"></i> <span>Filmes Alugados</span></a></li>
                                </ul>
                            </li>

                        }



                        if (ViewBag.user_layout == "admin")
                        {

                            <li class="label">Administrador</li>

                            <li class="label">Estatísticas</li>
                            <li class="sidebar-sub-toggle">
                                <a class="sidebar-sub-toggle"><i class="ti-panel"></i>Relatórios<span class="sidebar-collapse-icon ti-angle-down"></span></a>
                                <ul>
                                    <li><a href="#"><i class="ti-pencil"></i> <span>Editar Perfil</span></a></li>
                                    <li><a href="#"><i class="ti-pencil"></i> <span>Editar Perfil</span></a></li>
                                </ul>
                            </li>
                            <li class="sidebar-sub-toggle">
                                <a class="sidebar-sub-toggle"><i class="ti-bar-chart"></i>Gráficos<span class="sidebar-collapse-icon ti-angle-down"></span></a>
                                <ul>
                                    <li><a href="#"><i class="ti-pencil"></i> <span>Editar Perfil</span></a></li>
                                    <li><a href="#"><i class="ti-pencil"></i> <span>Editar Perfil</span></a></li>
                                </ul>
                            </li>
                            <li class="label">Registros</li>
                            <li class="sidebar-sub-toggle">
                                <a class="sidebar-sub-toggle"><i class="ti-id-badge"></i>Clientes<span class="sidebar-collapse-icon ti-angle-down"></span></a>
                                <ul>
                                    <li><a href="/Admin/CadastrarCliente/"><i class="ti-save"></i> <span>Cadastrar Clientes</span></a></li>
                                    <li><a href="/Admin/ListarCliente/"><i class="ti-menu-alt"></i> <span>Listar Clientes</span></a></li>
                                </ul>
                            </li>

                            <li class="sidebar-sub-toggle">
                                <a class="sidebar-sub-toggle"><i class="ti-video-clapper"></i>Filmes<span class="sidebar-collapse-icon ti-angle-down"></span></a>
                                <ul>
                                    <li><a href="/Admin/CadastrarFilme/"><i class="ti-save"></i> <span>Cadastrar Filmes</span></a></li>
                                    <li><a href="/Admin/ListarFilme/"><i class="ti-menu-alt"></i> <span>Listar Filmes</span></a></li>
                                </ul>
                            </li>

                        }


                        if (ViewBag.session_status == "nao_logado")
                        {
                            <li class="label"></li>
                            <li class="sidebar-sub-toggle">
                                <a class="sidebar-sub-toggle"><i class="ti-home"></i> Login <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                                <ul>
                                    <li>@Html.ActionLink("Usuário", "Index", "Home")</li>
                                    <li>@Html.ActionLink("Administração", "Index", "Admin")</li>
                                </ul>
                            </li>

                        }



                    }

                    @if (ViewBag.session_status == "logado")
                    {
                        <li><a href="@Url.Action("Index", "Home")"><i class="ti-close"></i> Logout</a></li>
                    }


                </ul>
            </div>
        </div>
    </div>
    <!-- /# sidebar -->


    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="float-left">
                        <div class="hamburger sidebar-toggle">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="float-right">
                        <ul>
                            @if (ViewBag.user_layout == "admin")
                            {
                                <li class="header-icon">
                                    <i class="ti-lock"></i>
                                </li>
                            }
                            else if (ViewBag.session_status == "nao_logado")
                            {
                                <li class="header-icon">
                                    <i class="ti-blackboard"></i>
                                </li>

                            }



                            @if (ViewBag.user_layout == "usuario")
                            {
                                <li class="header-icon dib">
                                    <i class="ti-bell"></i>
                                    <div class="drop-down">
                                        <div class="dropdown-content-heading">
                                            <span class="text-left">Lançamentos</span>
                                        </div>
                                        <div class="dropdown-content-body">
                                            <ul>

                                                <li>
                                                    <a>
                                                        <div class="notification-content">
                                                            <small class="notification-timestamp pull-right">2019</small>
                                                            <div class="notification-heading">O Som do Silêncio</div>
                                                            <div class="notification-text">Drama</div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a>
                                                        <div class="notification-content">
                                                            <small class="notification-timestamp pull-right">2019</small>
                                                            <div class="notification-heading">Rambo: Até o Fim</div>
                                                            <div class="notification-text">Ação/Aventura/Suspense/Western</div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a>
                                                        <div class="notification-content">
                                                            <small class="notification-timestamp pull-right">2019</small>
                                                            <div class="notification-heading">Ad Astra</div>
                                                            <div class="notification-text">Aventura/Drama/Mistério/Ficção Científica/Suspense</div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="text-center">
                                                    <a href="https://www.imdb.com/movies-coming-soon/?ref_=inth_cs" target="_blank" class="more-link">Ver Mais</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>

                                @*if (ViewBag.user_layout != "inicio")
            {
                <li class="header-icon dib">
                    <span class="user-avatar">@ViewBag.user<i class="ti-angle-down f-s-10"></i></span>
                    <div class="drop-down dropdown-profile">

                        <div class="dropdown-content-body">
                            <ul>
                                <li><a href="#"><i class="ti-pencil"></i> <span>Editar Perfil</span></a></li>
                                <li><a href="#"><i class="ti-video-camera"></i> <span>Filmes Alugados</span></a></li>

                                <li><a href="#"><i class="ti-close"></i> <span>Logout</span></a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            }*@
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 p-r-0 title-margin-right">
                        <div class="page-header">
                            <div class="page-title">
                                <h1>@ViewBag.title_welcome<span>@ViewBag.title</span></h1>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                    <!-- /# column -->
                </div>
                <!-- /# row -->
                <section id="main-content">

                    @RenderBody()
                    <!-- /# row -->



                    <div class="row">
                        <div class="col-lg-12">
                            <br /><br /><br /><br /><br /><br />
                        </div>
                    </div>
                    <!-- /# row -->

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer">
                                <p>&copy; @DateTime.Now.Year - Locadora Soares</p>
                            </div>
                        </div>
                    </div>
                    <!-- /# row -->

                </section>
            </div>
        </div>
    </div>


    <!-- jquery vendor -->
    <script src="~/Content/template/assets/js/lib/jquery.min.js"></script>
    <script src="~/Content/template/assets/js/lib/jquery.nanoscroller.min.js"></script>
    <!-- nano scroller -->
    <script src="~/Content/template/assets/js/lib/menubar/sidebar.js"></script>
    <script src="~/Content/template/assets/js/lib/preloader/pace.min.js"></script>
    <!-- sidebar -->
    <script src="~/Content/template/assets/js/lib/bootstrap.min.js"></script>

    <!-- bootstrap -->

    <script src="~/Content/template/assets/js/lib/circle-progress/circle-progress.min.js"></script>
    <script src="~/Content/template/assets/js/lib/circle-progress/circle-progress-init.js"></script>

    <script src="~/Content/template/assets/js/lib/morris-chart/raphael-min.js"></script>
    <script src="~/Content/template/assets/js/lib/morris-chart/morris.js"></script>
    <script src="~/Content/template/assets/js/lib/morris-chart/morris-init.js"></script>

    <!--  flot-chart js -->
    <script src="~/Content/template/assets/js/lib/flot-chart/jquery.flot.js"></script>
    <script src="~/Content/template/assets/js/lib/flot-chart/jquery.flot.resize.js"></script>
    <script src="~/Content/template/assets/js/lib/flot-chart/flot-chart-init.js"></script>
    <!-- // flot-chart js -->


    <script src="~/Content/template/assets/js/lib/vector-map/jquery.vmap.js"></script>
    <!-- scripit init-->
    <script src="~/Content/template/assets/js/lib/vector-map/jquery.vmap.min.js"></script>
    <!-- scripit init-->
    <script src="~/Content/template/assets/js/lib/vector-map/jquery.vmap.sampledata.js"></script>
    <!-- scripit init-->
    <script src="~/Content/template/assets/js/lib/vector-map/country/jquery.vmap.world.js"></script>
    <!-- scripit init-->
    <script src="~/Content/template/assets/js/lib/vector-map/country/jquery.vmap.algeria.js"></script>
    <!-- scripit init-->
    <script src="~/Content/template/assets/js/lib/vector-map/country/jquery.vmap.argentina.js"></script>
    <!-- scripit init-->
    <script src="~/Content/template/assets/js/lib/vector-map/country/jquery.vmap.brazil.js"></script>
    <!-- scripit init-->
    <script src="~/Content/template/assets/js/lib/vector-map/country/jquery.vmap.france.js"></script>
    <!-- scripit init-->
    <script src="~/Content/template/assets/js/lib/vector-map/country/jquery.vmap.germany.js"></script>
    <!-- scripit init-->
    <script src="~/Content/template/assets/js/lib/vector-map/country/jquery.vmap.greece.js"></script>
    <!-- scripit init-->
    <script src="~/Content/template/assets/js/lib/vector-map/country/jquery.vmap.iran.js"></script>
    <!-- scripit init-->
    <script src="~/Content/template/assets/js/lib/vector-map/country/jquery.vmap.iraq.js"></script>
    <!-- scripit init-->
    <script src="~/Content/template/assets/js/lib/vector-map/country/jquery.vmap.russia.js"></script>
    <!-- scripit init-->
    <script src="~/Content/template/assets/js/lib/vector-map/country/jquery.vmap.tunisia.js"></script>
    <!-- scripit init-->
    <script src="~/Content/template/assets/js/lib/vector-map/country/jquery.vmap.europe.js"></script>
    <!-- scripit init-->
    <script src="~/Content/template/assets/js/lib/vector-map/country/jquery.vmap.usa.js"></script>
    <!-- scripit init-->
    <script src="~/Content/template/assets/js/lib/vector-map/vector.init.js"></script>

    <script src="~/Content/template/assets/js/lib/weather/jquery.simpleWeather.min.js"></script>
    <script src="~/Content/template/assets/js/lib/weather/weather-init.js"></script>
    <script src="~/Content/template/assets/js/lib/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/Content/template/assets/js/lib/owl-carousel/owl.carousel-init.js"></script>
    <script src="~/Content/template/assets/js/scripts.js"></script>
    <!-- scripit init-->

</body>

</html>
