@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="col-lg-2">
    </div>
    <div class="col-lg-8">
        <div class="card">
            <div class="stat-widget-two">

                <div>
                    <h2 align="center">Filmes Disponíveis</h2>
                    <br /><br /><br />
                    <table class="table" align="center">
                        <thead>
                            <tr>
                                <th>
                                    Título
                                </th>
                                <th>
                                    Ano
                                </th>
                                <th>
                                    Categoria
                                </th>
                                <th>
                                    Ação
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.FilmesDisponiveis)
                            {
                                <tr>
                                    <td>
                                        @item.Nome
                                    </td>
                                    <td>
                                        @item.Ano
                                    </td>
                                    <td>
                                        @item.Categoria
                                    </td>
                                    <td>
                                        <form action="/Cliente/AlugarFilme/" method="post">
                                            <input type="hidden" name="ID_Filme" id="ID_Filme" value="@item.ID" />
                                            <input type="hidden" name="ID_Cliente" id="ID_Cliente" value="@ViewBag.ID_Cliente" />
                                            <input type="submit" class="btn btn-primary" name="alugar" id="alugar" value="Alugar" />
                                        </form>
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>

                </div>


            </div>
        </div>
    </div>
    <div class="col-lg-2">
    </div>
</div>
